<form [formGroup]="form" (ngSubmit)="handleSubmission()">
  <div>
    <div>First Name</div>
    <div>
      <input type="text" formControlName="firstName" />
    </div>
  </div>
  {{ form.value.firstName }}
  <div
    *ngIf="
      form.controls['firstName'].errors &&
      form.controls['firstName'].dirty &&
      isSubmitted
    "
  >
    <div *ngIf="form.controls['firstName'].errors['required']">
      Fisrtname is required
    </div>
    <div *ngIf="form.controls['firstName'].errors['minlength']">
      minlength is 3
    </div>
    <div *ngIf="form.controls['firstName'].errors['maxlength']">
      minlength is 10
    </div>
    <div *ngIf="form.controls['firstName'].errors['isUnsafe']">
      {{ form.controls["firstName"].errors["isUnsafe"] }} is not safe word
    </div>
  </div>
  <div>
    <div>Last Name</div>
    <div>
      <input type="text" formControlName="lastName" />
    </div>
  </div>
  <div
    *ngIf="
      form.controls['lastName'].errors &&
      form.controls['lastName'].dirty &&
      isSubmitted
    "
  >
    <div *ngIf="form.controls['lastName'].errors['required']">
      Lastname is required
    </div>
  </div>
  <div>
    <div>Age</div>
    <div>
      <input type="number" formControlName="age" />
    </div>
  </div>
  <div
    *ngIf="form.controls['age'].errors && form.controls['age']"
    .dirty
    &&
    form.submitted
  >
    <div *ngIf="form.controls['age'].errors['required']">Age is required</div>
    <div *ngIf="form.controls['age'].errors['min']">Min Age 18</div>
    <div *ngIf="form.controls['age'].errors['max']">Max Age is 80</div>
  </div>
  <div>
    <div>Email</div>
    <div>
      <input type="text" formControlName="email" />
    </div>
  </div>
  <div
    *ngIf="
      form.controls['email'].errors &&
      form.controls['email'].dirty &&
      isSubmitted
    "
  >
    <div *ngIf="form.controls['email'].errors['required']">
      Email is required
    </div>
    <div
      *ngIf="
        form.controls['email'].errors['[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$']
      "
    >
      Enter valid email
    </div>
    <div *ngIf="form.controls['email'].errors['isUsed']">Email is used</div>
  </div>
  <div>
    <div>Hobbies</div>
    <div
      *ngFor="
        let hobbyControl of form.controls.hobbies?.controls;
        let i = index
      "
    >
      <!-- <textarea formControlName="hobbies"></textarea> -->
      <select formArrayName="hobbies">
        <option [value]="null" selected hidden>Select Hobby</option>
        <option *ngFor="let hobby of hobbies" [value]="hobby">
          {{ hobby }}
        </option>
      </select>
      <button
        type="button"
        (click)="removeHobbyControl(i)"
        disabled="removeButtonDisabled"
      >
        -
      </button>
      <button type="button" (click)="addHobbyControl()">+</button>
    </div>
  </div>
  <div>
    <div>Occupation</div>
    <div>
      <select formControlName="occupation">
        <option [value]="null" selected hidden>Select</option>
        <option [value]="occupation.Developer">
          {{ occupation.Developer }}
        </option>
        <option [value]="occupation.Manager">{{ occupation.Manager }}</option>
        <option [value]="occupation.Tester">{{ occupation.Tester }}</option>
      </select>
    </div>
  </div>
  <div>
    <div>Gender:</div>
    <div>
      <input
        type="radio"
        value="Male"
        id="male"
        name="gender"
        formControlName="gender"
      />
      <label for="vehicle1">Male</label> <br />
    </div>
    <div>
      <input
        type="radio"
        id="female"
        value="Female"
        name="gender"
        formControlName="gender"
      />
      <label for="vehicle1">Female</label> <br />
    </div>
  </div>
  <button type="submit">Register</button>
</form>
